<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h1><%= title %></h1>
        <h3><%= name %></h3>
        <img src="https://media.tenor.com/TnJILELg-2cAAAAM/dancing-flute.gif" alt="This page does not exist">
    </div>
</main>

<%- include('../partials/footer') %>