<%- include('../partials/header') %>
    <main class="main" id="main">
        <h1><%= title %></h1>
        <h3><%= name %></h3>
        <p>Please select a movie category that you are interested in</p>
    </main>

<%- include('../partials/footer') %>    

